my-nav([userData]="managerData")
.container-fluid
  .row
    .col-md-4
      p.top-title.col-md-9.text-primary Class
      button.btn.btn-default(type="button", (click)="onClickRouteToClassList()")
        span.glyphicon.glyphicon-align-justify(aria-hidden="true")
      button.btn.btn-default(type="button",  (click)="onClickRouteToClassAdd()")
        span.glyphicon.glyphicon-plus(aria-hidden="true")
    .col-md-4
      p.top-title.col-md-9.text-primary Group
      button.btn.btn-default(type="button",  (click)="onClickRouteToGroupList()")
        span.glyphicon.glyphicon-align-justify(aria-hidden="true")
      button.btn.btn-default(type="button",  (click)="onClickRouteToGroupAdd()")
        span.glyphicon.glyphicon-plus(aria-hidden="true")
    .col-md-4
      p.top-title.col-md-9.text-primary User
      button.btn.btn-default(type="button",  (click)="onClickRouteToUserList()")
        span.glyphicon.glyphicon-align-justify(aria-hidden="true")
      button.btn.btn-default(type="button",  (click)="onClickRouteToUserAdd()")
        span.glyphicon.glyphicon-plus(aria-hidden="true")
  .row
    .col-md-4.class-list-container([hidden]="!routeToClassList")
      ul.class-list
          li.class-item(*ngFor="#classItem of classList") {{classItem}}
    .col-md-4.class-register-container([hidden]="routeToClassList")
      form.class-register-form
        .form-group
          label(for="class-name")
          input.form-control(id="class-name", placeholder="class name")
        button.btn.btn-primary.btn-block(type="submit") Register
      .messages-container
        ul.messages-list
            li.text-warning(*ngFor="#message of registerClassMessages") {{message}}
    .col-md-4.group-list-container([hidden]="!routeToGroupList")
      ul.group-list
          li.group-item(*ngFor="#groupItem of groupList") {{groupItem}}
    .col-md-4.group-register-container([hidden]="routeToGroupList")
      form.group-register-form
        .form-group
          label(for="group-name")
          input.form-control(id="group-name", placeholder="group name")
        button.btn.btn-primary.btn-block(type="submit") Register
      .messages-container
        ul.messages-list
            li.text-warning(*ngFor="#message of registerGroupMessages") {{message}}
    .col-md-4.user-list-container([hidden]="!routeToUserList")
      ul.user-list
          li.user-item(*ngFor="#userItem of userList") {{userItem}}
    .col-md-4.user-register-container([hidden]="routeToUserList")
      form.user-register-form
        .form-group
          label(for="user-account")
          input.form-control(id="user-account", placeholder="user account")
        .form-group
          label(for="user-password")
          input.form-control(id="user-password", placeholder="user password")
        .form-group
          label(for="user-name")
          input.form-control(id="user-name", placeholder="user name")
        .form-group
          label(for="user-email")
          input.form-control(id="user-email", placeholder="user email")
        .form-group
          label(for="user-position")
          select.form-control(id="user-position")
            option student
            option assistant
            option teacher
        button.btn.btn-primary.btn-block(type="submit") Register
      .messages-container
        ul.messages-list
            li.text-warning(*ngFor="#message of registerUserMessages") {{message}}
  .row
    .col-md-4.classs-container
    .col-md-4.groups-container
    .col-md-4.users-container
